<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cheliang">
    <sql id="countCheliangDetailSql" >
        SELECT
        COUNT(1)
        FROM
        t_car_list c
        WHERE 1 = 1
        <if test="cheliang.FId != null and cheliang.FId != ''">
            AND c.f_id = #{cheliang.FId}
        </if>
        <if test="cheliang.FType != null and cheliang.FType != ''">
            AND c.f_type = #{cheliang.FType}
        </if>
        <if test="cheliang.FStructNumber != null and cheliang.FStructNumber != ''">
            AND c.f_struct_number = #{cheliang.FStructNumber}
        </if>
    </sql>

    <sql id="findCheliangDetailSql">
        SELECT
        c.f_id,
        c.f_type,
        c.f_struct_number,
        c.f_color,
        c.f_volume,
        c.f_weight,
        c.f_date,
        c.f_turbo,
        c.f_drive,
        c.f_min_price,
        c.f_part,
        c.f_insure,
        c.f_other,
        c.f_care_counts
        FROM
        t_car_list c
        WHERE 1 = 1
        <if test="cheliang.FId != null and cheliang.FId != ''">
            AND c.f_id = #{cheliang.FId}
        </if>
        <if test="cheliang.FType != null and cheliang.FType != ''">
            AND c.f_type = #{cheliang.FType}
        </if>
        <if test="cheliang.FStructNumber != null and cheliang.FStructNumber != ''">
            AND c.f_struct_number = #{cheliang.FStructNumber}
        </if>
        GROUP BY
        c.f_id,
        c.f_type,
        c.f_struct_number,
        c.f_color,
        c.f_volume,
        c.f_weight,
        c.f_date,
        c.f_turbo,
        c.f_drive,
        c.f_min_price,
        c.f_part,
        c.f_insure,
        c.f_other,
        c.f_care_counts
    </sql>

    <select id="countCheliangDetail" parameterType="cheliang" resultType="long">
        <include refid="countCheliangDetailSql"/>
    </select>

    <select id="findCheliangDetailPage" parameterType="cheliang" resultType="cheliang">
        <include refid="findCheliangDetailSql"/>
    </select>

    <select id="findCheliangDetail" parameterType="cheliang" resultType="cheliang">
        <include refid="findCheliangDetailSql"/>
    </select>

    <select id="findByName" parameterType="string" resultType="cheliang">
        SELECT
        c.f_id,
        c.f_type,
        c.f_struct_number,
        c.f_color,
        c.f_volume,
        c.f_weight,
        c.f_date,
        c.f_turbo,
        c.f_drive,
        c.f_min_price,
        c.f_part,
        c.f_insure,
        c.f_other,
        c.f_care_counts
        FROM
        t_car_list c
        WHERE  c.f_struct_number = #{FStructNumber}
        GROUP BY
            c.f_id,
            c.f_type,
            c.f_struct_number,
            c.f_color,
            c.f_volume,
            c.f_weight,
            c.f_date,
            c.f_turbo,
            c.f_drive,
            c.f_min_price,
            c.f_part,
            c.f_insure,
            c.f_other,
            c.f_care_counts
    </select>
</mapper>
