<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cheliang.mapper.CheliangMapper">
    <sql id="countCheliangDetailSql" >
        SELECT
        COUNT(1)
        FROM
        t_cheliang c
        WHERE 1 = 1
        <if test="cheliang.fid != null and cheliang.fid != ''">
            AND c.f_id = #{cheliang.fid}
        </if>
        <if test="cheliang.ftype != null and cheliang.ftype != ''">
            AND c.f_type = #{cheliang.FType}
        </if>
        <if test="cheliang.fstructNumber != null and cheliang.fstructNumber != ''">
            AND c.f_struct_number = #{cheliang.fstructNumber}
        </if>
        <if test="cheliang.fcolor != null and cheliang.fcolor != ''">
            AND c.f_color = #{cheliang.fcolor}
        </if>
        <if test="cheliang.fvolume != null and cheliang.fvolume != ''">
            AND c.f_volume = #{cheliang.fvolume}
        </if>
        <if test="cheliang.fweight != null and cheliang.fweight != ''">
            AND c.f_weight = #{cheliang.fweight}
        </if>
        <if test="cheliang.fdate != null and cheliang.fdate != ''">
            AND c.f_date = #{cheliang.fdate}
        </if>
        <if test="cheliang.fturbo != null and cheliang.fturbo != ''">
            AND c.f_turbo = #{cheliang.fturbo}
        </if>
        <if test="cheliang.fdrive != null and cheliang.fdrive != ''">
            AND c.f_turbo = #{cheliang.fdrive}
        </if>
        <if test="cheliang.fminPrice != null and cheliang.fminPrice != ''">
            AND c.f_min_price = #{cheliang.fminPrice}
        </if>
        <if test="cheliang.fpart != null and cheliang.fpart != ''">
            AND c.f_part = #{cheliang.fpart}
        </if>
        <if test="cheliang.finsure != null and cheliang.finsure != ''">
            AND c.f_insure = #{cheliang.finsure}
        </if>
        <if test="cheliang.fother != null and cheliang.fother != ''">
            AND c.f_other = #{cheliang.fother}
        </if>
        <if test="cheliang.fcareCounts != null and cheliang.fcareCounts != ''">
            AND c.f_care_counts = #{cheliang.fcareCounts}
        </if>
    </sql>

    <sql id="findCheliangDetailSql">
        SELECT
        c.f_id fid,
        c.f_type ftype,
        c.f_struct_number fstructNumber,
        c.f_color fcolor,
        c.f_volume fvolume,
        c.f_weight fweight,
        c.f_date fdate,
        c.f_turbo fturbo,
        c.f_drive fdrive,
        c.f_min_price fminPrice,
        c.f_part fpart,
        c.f_insure finsure,
        c.f_other fother,
        c.f_care_counts fcareCounts
        FROM
        t_cheliang c
        WHERE 1 = 1
        <if test="cheliang.fid != null and cheliang.fid != ''">
            AND c.f_id = #{cheliang.fid}
        </if>
        <if test="cheliang.ftype != null and cheliang.ftype != ''">
            AND c.f_type = #{cheliang.ftype}
        </if>
        <if test="cheliang.fstructNumber != null and cheliang.fstructNumber != ''">
            AND c.f_struct_number = #{cheliang.fstructNumber}
        </if>
        <if test="cheliang.fcolor != null and cheliang.fcolor != ''">
            AND c.f_color = #{cheliang.fcolor}
        </if>
        <if test="cheliang.fvolume != null and cheliang.fvolume != ''">
            AND c.f_volume = #{cheliang.fvolume}
        </if>
        <if test="cheliang.fweight != null and cheliang.fweight != ''">
            AND c.f_weight = #{cheliang.fweight}
        </if>
        <if test="cheliang.fdate != null and cheliang.fdate != ''">
            AND c.f_date = #{cheliang.fdate}
        </if>
        <if test="cheliang.fturbo != null and cheliang.fturbo != ''">
            AND c.f_turbo = #{cheliang.fturbo}
        </if>
        <if test="cheliang.fdrive != null and cheliang.fdrive != ''">
            AND c.f_turbo = #{cheliang.fdrive}
        </if>
        <if test="cheliang.fminPrice != null and cheliang.fminPrice != ''">
            AND c.f_min_price = #{cheliang.fminPrice}
        </if>
        <if test="cheliang.fpart != null and cheliang.fpart != ''">
            AND c.f_part = #{cheliang.fpart}
        </if>
        <if test="cheliang.finsure != null and cheliang.finsure != ''">
            AND c.f_insure = #{cheliang.finsure}
        </if>
        <if test="cheliang.fother != null and cheliang.fother != ''">
            AND c.f_other = #{cheliang.fother}
        </if>
        <if test="cheliang.fcareCounts != null and cheliang.fcareCounts != ''">
            AND c.f_care_counts = #{cheliang.fcareCounts}
        </if>
        GROUP BY
        c.f_id,
        c.f_type,
        c.f_struct_number,
        c.f_color,
        c.f_volume,
        c.f_weight,
        c.f_date,
        c.f_turbo,
        c.f_drive,
        c.f_min_price,
        c.f_part,
        c.f_insure,
        c.f_other,
        c.f_care_counts
    </sql>

    <select id="countCheliangDetail" parameterType="cheliang" resultType="long">
        <include refid="countCheliangDetailSql"/>
    </select>

    <select id="findCheliangDetailPage" parameterType="cheliang" resultType="cheliang">
        <include refid="findCheliangDetailSql"/>
    </select>

    <select id="findCheliangDetail" parameterType="cheliang" resultType="cheliang">
        <include refid="findCheliangDetailSql"/>
    </select>

    <select id="findByNum" parameterType="string" resultType="cheliang">
        SELECT
        c.f_id fid,
        c.f_type ftype,
        c.f_struct_number fstructNumber,
        c.f_color fcolor,
        c.f_volume fvolume,
        c.f_weight fweight,
        c.f_date fdate,
        c.f_turbo fturbo,
        c.f_drive fdrive,
        c.f_min_price fminPrice,
        c.f_part fpart,
        c.f_insure finsure,
        c.f_other fother,
        c.f_care_counts fcareCounts
        FROM
        t_cheliang c
        WHERE  c.f_struct_number = #{FStructNumber}
        GROUP BY
            c.f_id,
            c.f_type,
            c.f_struct_number,
            c.f_color,
            c.f_volume,
            c.f_weight,
            c.f_date,
            c.f_turbo,
            c.f_drive,
            c.f_min_price,
            c.f_part,
            c.f_insure,
            c.f_other,
            c.f_care_counts
    </select>
</mapper>
