<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cheliang.mapper.CheliangMapper">
    <sql id="countCheliangDetailSql" >
        SELECT
        COUNT(1)
        FROM
        t_cheliang c
        WHERE 1 = 1
        <if test="cheliang.FId != null and cheliang.FId != ''">
            AND c.f_id = #{cheliang.FId}
        </if>
        <if test="cheliang.FType != null and cheliang.FType != ''">
            AND c.f_type = #{cheliang.FType}
        </if>
        <if test="cheliang.FStructNumber != null and cheliang.FStructNumber != ''">
            AND c.f_struct_number = #{cheliang.FStructNumber}
        </if>
        <if test="cheliang.FColor != null and cheliang.FColor != ''">
            AND c.f_color = #{cheliang.FColor}
        </if>
        <if test="cheliang.FVolume != null and cheliang.FVolume != ''">
            AND c.f_volume = #{cheliang.FVolume}
        </if>
        <if test="cheliang.FWeight != null and cheliang.FWeight != ''">
            AND c.f_weight = #{cheliang.FWeight}
        </if>
        <if test="cheliang.FDate != null and cheliang.FDate != ''">
            AND c.f_date = #{cheliang.FDate}
        </if>
        <if test="cheliang.FTurbo != null and cheliang.FTurbo != ''">
            AND c.f_turbo = #{cheliang.FTurbo}
        </if>
        <if test="cheliang.FDrive != null and cheliang.FDrive != ''">
            AND c.f_turbo = #{cheliang.FDrive}
        </if>
        <if test="cheliang.FMinPrice != null and cheliang.FMinPrice != ''">
            AND c.f_min_price = #{cheliang.FMinPrice}
        </if>
        <if test="cheliang.FPart != null and cheliang.FPart != ''">
            AND c.f_part = #{cheliang.FPart}
        </if>
        <if test="cheliang.FInsure != null and cheliang.FInsure != ''">
            AND c.f_insure = #{cheliang.FInsure}
        </if>
        <if test="cheliang.FOther != null and cheliang.FOther != ''">
            AND c.f_other = #{cheliang.FOther}
        </if>
        <if test="cheliang.FCareCounts != null and cheliang.FCareCounts != ''">
            AND c.f_care_counts = #{cheliang.FCareCounts}
        </if>
    </sql>

    <sql id="findCheliangDetailSql">
        SELECT
        c.f_id,
        c.f_type,
        c.f_struct_number,
        c.f_color,
        c.f_volume,
        c.f_weight,
        c.f_date,
        c.f_turbo,
        c.f_drive,
        c.f_min_price,
        c.f_part,
        c.f_insure,
        c.f_other,
        c.f_care_counts
        FROM
        t_cheliang c
        WHERE 1 = 1
        <if test="cheliang.FId != null and cheliang.FId != ''">
            AND c.f_id = #{cheliang.FId}
        </if>
        <if test="cheliang.FType != null and cheliang.FType != ''">
            AND c.f_type = #{cheliang.FType}
        </if>
        <if test="cheliang.FStructNumber != null and cheliang.FStructNumber != ''">
            AND c.f_struct_number = #{cheliang.FStructNumber}
        </if>
        <if test="cheliang.FColor != null and cheliang.FColor != ''">
            AND c.f_color = #{cheliang.FColor}
        </if>
        <if test="cheliang.FVolume != null and cheliang.FVolume != ''">
            AND c.f_volume = #{cheliang.FVolume}
        </if>
        <if test="cheliang.FWeight != null and cheliang.FWeight != ''">
            AND c.f_weight = #{cheliang.FWeight}
        </if>
        <if test="cheliang.FDate != null and cheliang.FDate != ''">
            AND c.f_date = #{cheliang.FDate}
        </if>
        <if test="cheliang.FTurbo != null and cheliang.FTurbo != ''">
            AND c.f_turbo = #{cheliang.FTurbo}
        </if>
        <if test="cheliang.FDrive != null and cheliang.FDrive != ''">
            AND c.f_turbo = #{cheliang.FDrive}
        </if>
        <if test="cheliang.FMinPrice != null and cheliang.FMinPrice != ''">
            AND c.f_min_price = #{cheliang.FMinPrice}
        </if>
        <if test="cheliang.FPart != null and cheliang.FPart != ''">
            AND c.f_part = #{cheliang.FPart}
        </if>
        <if test="cheliang.FInsure != null and cheliang.FInsure != ''">
            AND c.f_insure = #{cheliang.FInsure}
        </if>
        <if test="cheliang.FOther != null and cheliang.FOther != ''">
            AND c.f_other = #{cheliang.FOther}
        </if>
        <if test="cheliang.FCareCounts != null and cheliang.FCareCounts != ''">
            AND c.f_care_counts = #{cheliang.FCareCounts}
        </if>
        GROUP BY
        c.f_id,
        c.f_type,
        c.f_struct_number,
        c.f_color,
        c.f_volume,
        c.f_weight,
        c.f_date,
        c.f_turbo,
        c.f_drive,
        c.f_min_price,
        c.f_part,
        c.f_insure,
        c.f_other,
        c.f_care_counts
    </sql>

    <select id="countCheliangDetail" parameterType="cheliang" resultType="long">
        <include refid="countCheliangDetailSql"/>
    </select>

    <select id="findCheliangDetailPage" parameterType="cheliang" resultType="cheliang">
        <include refid="findCheliangDetailSql"/>
    </select>

    <select id="findCheliangDetail" parameterType="cheliang" resultType="cheliang">
        <include refid="findCheliangDetailSql"/>
    </select>

    <select id="findByNum" parameterType="string" resultType="cheliang">
        SELECT
        c.f_id,
        c.f_type,
        c.f_struct_number,
        c.f_color,
        c.f_volume,
        c.f_weight,
        c.f_date,
        c.f_turbo,
        c.f_drive,
        c.f_min_price,
        c.f_part,
        c.f_insure,
        c.f_other,
        c.f_care_counts
        FROM
        t_cheliang c
        WHERE  c.f_struct_number = #{FStructNumber}
        GROUP BY
            c.f_id,
            c.f_type,
            c.f_struct_number,
            c.f_color,
            c.f_volume,
            c.f_weight,
            c.f_date,
            c.f_turbo,
            c.f_drive,
            c.f_min_price,
            c.f_part,
            c.f_insure,
            c.f_other,
            c.f_care_counts
    </select>
</mapper>
