<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.dingdan.mapper.DingdanMapper">
    <sql id="countDingdanDetailSql" >
        SELECT
        COUNT(1)
        FROM
        t_order_list u
        WHERE 1 = 1
        <if test="dingdan.fid != null and dingdan.fid != ''">
            AND u.f_id = #{dingdan.fid}
        </if>
        <if test="dingdan.fdate != null and dingdan.fdate != ''">
            AND u.f_created_time = #{dingdan.fdate}
        </if>
        <if test="dingdan.fsalesmanId != null and dingdan.fsalesmanId != ''">
            AND u.f_salesman_id = #{dingdan.fsalesmanId}
        </if>
        <if test="dingdan.fclientId != null and dingdan.fclientId != ''">
            AND u.f_client_id = #{dingdan.fclientId}
        </if>
        <if test="dingdan.fprice != null and dingdan.fprice != ''">
            AND u.f_sale_price = #{dingdan.fprice}
        </if>
        <if test="dingdan.fstatus != null and dingdan.fstatus != ''">
            AND u.f_status = #{dingdan.fstatus}
        </if>
        <if test="dingdan.fcarId != null and dingdan.fcarId != ''">
            AND u.f_car_id = #{dingdan.fcarId}
        </if>
    </sql>

    <sql id="findDingdanDetailSql">
        SELECT
        u.f_id,
        u.f_created_time,
        u.f_salesman_id,
        u.f_client_id,
        u.f_sale_price,
        u.f_status,
        u.f_car_id
        FROM
        t_order_list u
        WHERE 1 = 1
        <if test="dingdan.fid != null and dingdan.fid != ''">
            AND u.f_id = #{dingdan.fid}
        </if>
        <if test="dingdan.fdate != null and dingdan.fdate != ''">
            AND u.f_created_time = #{dingdan.fdate}
        </if>
        <if test="dingdan.fsalesmanId != null and dingdan.fsalesmanId != ''">
            AND u.f_salesman_id = #{dingdan.fsalesmanId}
        </if>
        <if test="dingdan.fclientId != null and dingdan.fclientId != ''">
            AND u.f_client_id = #{dingdan.fclientId}
        </if>
        <if test="dingdan.fprice != null and dingdan.fprice != ''">
            AND u.f_sale_price = #{dingdan.fprice}
        </if>
        <if test="dingdan.fstatus != null and dingdan.fstatus != ''">
            AND u.f_status = #{dingdan.fstatus}
        </if>
        <if test="dingdan.fcarId != null and dingdan.fcarId != ''">
            AND u.f_car_id = #{dingdan.fcarId}
        </if>
        GROUP BY
        u.f_id,
        u.f_created_time,
        u.f_salesman_id,
        u.f_client_id,
        u.f_sale_price,
        u.f_status,
        u.f_car_id
    </sql>

    <select id="countDingdanDetail" parameterType="dingdan" resultType="long">
        <include refid="countDingdanDetailSql"/>
    </select>

    <select id="findDingdanDetailPage" parameterType="dingdan" resultType="dingdan">
        <include refid="findDingdanDetailSql"/>
    </select>

    <select id="findDingdanDetail" parameterType="dingdan" resultType="dingdan">
        <include refid="findDingdanDetailSql"/>
    </select>

    <select id="findById" parameterType="integer" resultType="dingdan">
        SELECT
        u.f_id,
        u.f_created_time,
        u.f_salesman_id,
        u.f_client_id,
        u.f_sale_price,
        u.f_status,
        u.f_car_id
        FROM
        t_order_list u
        WHERE  u.f_Id = #{FId}
        GROUP BY
            u.f_id,
            u.f_created_time,
            u.f_salesman_id,
            u.f_client_id,
            u.f_sale_price,
            u.f_status,
            u.f_car_id
    </select>

</mapper>
